@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* box-sizing: border-box; */


}

:root{
    --a:0;
}

.close{
    display: none;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;

}

.container {
    display: flex;
}

.home ul li {
    list-style: none;
    display: flex;
    gap: 15px;
    width: 14px;
    padding-top: 14px;
    font-weight: bold;
}


.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 15px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 70vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    color: gray;
    position: absolute;
    bottom: 0;
    padding: 10px 0px;
    flex-wrap: wrap;

}

.footer div {

    margin-bottom: 5px;
}

.footer a {
    text-decoration: none;
    color: gray;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 10px;

}

.spotifyPlaylist {
    padding: 16px;
}

.spotifyPlaylist h1{
    padding: 16px;
}

.cardContainer {
    margin: 30PX;
    display: flex;
  
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;

}

.card {
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card:hover{
    background-color: rgb(105,103,103);
    cursor: pointer;
    --a: 1;

}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-in-out;
}

.card:hover .play {
    opacity: 1;
    top: 140px;

}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.signupbtn:hover {
    color: white;
    font-size: 17px;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 5px;
    width: 70px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    position: fixed;
    bottom: 25px;
    filter: invert(1);
    background: #dad5d5;
    border-radius: 10px;
    /* width: 90%; */

    padding: 12px;
    width: 70vw;
    min-height: 20px;
}

.songbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;



}

.songList {
    height: 244px;
    overflow: auto;
    padding: 7px;
    margin-bottom: 54px;
}

.hamburger {
    display: none;
}

.hamburgerCount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;

}

.songList ul {
    padding: 0;
    margin: 0;
}

.songList ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    margin: 6px 0;
    padding: 6px 10px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.info {
    font-size: 13px;
    flex: 1;

}
 


.playnow {
    display: flex;
    align-items: center;
    gap: 4px;
}

.playnow span {
    font-size: 12px;
}

.seekbar {
    height: 4px;

    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0%;
    /* margin: 6px; */
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbutton img {
    cursor: pointer;
}

.timevol{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}
.songtime{
    color: black;
    padding: 0 12px;
    width: 125px;

}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

@media (max-width: 1200px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        padding: 0;
        
    }

    .songinfo, .songtime{
        width: auto;
    }

    .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .right {
        width: 100vw;
    }

    .timevol{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 13px;

    }

    .playbar {
        width: calc(100vw - 60px);
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .hamburger {
        display: block;
    }

    .right{
        margin: 0;
    }

    .card {
        width: 44vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }
    
    .close{
        display: block;
    
    }
    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .card {
        width: 84vw;
    }
}